:root {
  /* primary colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /* neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: Ubuntu;
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  padding: 1rem;
}

.nav-tab-responsive {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav-links > span {
  padding: 0.7rem 1rem;
  background: #000;
  color: white;
  border-radius: 100%;
}
.nav-links.isActive > span {
  background-color: grey;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.footer button {
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border: 0px;
}
.footer button:nth-child(1) {
  background: none;
  color: grey;
}
.footer button.disabled {
  visibility: hidden;
}
