:root {
  /* primary colors */
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  /* neutral */
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: Ubuntu;
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: UbuntuBold;
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

body {
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  position: relative;
  background-color: var(--magnolia);
  /* padding: 1rem; */
}

/* Page Container */
.Page-Container {
  display: grid;
  grid-template-rows: minmax(200px, 220px) 1fr auto;
  min-height: 100svh;
}

/* Navigation styles */
.navigation {
  background: url("./assets//images/bg-sidebar-mobile.svg");
  min-height: 220px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-tab-responsive {
  display: none;
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  top: -50px;
}
.nav-links > span {
  padding: 0.7rem 1rem;
  color: white;
  background-color: transparent;
  outline: 1px solid var(--light-blue);
  /* border: 1px solid var(--light-blue); */
  border-radius: 100%;
  font-weight: bold;
}
.nav-links.isActive > span {
  background: var(--pastel-blue);
  color: var(--marine-blue);
}

/* Form Styles */
.main-form {
  position: relative;
}
.main-form form {
  width: 90%;
  background-color: var(--white);
  margin: 0 auto;
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  position: relative;
  top: -75px;
}
header > h1 {
  color: var(--marine-blue);
  font-family: UbuntuBold, sans-serif;
}
p.description {
  padding-right: 10vw;
  line-height: 1.3;
  margin: 0.7rem 0 1rem;
  color: var(--cool-gray);
}
section.form-container {
  display: grid;
  gap: 1rem;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.input-wrapper > label {
  font-weight: bold;
  font-size: 0.8rem;
  color: var(--marine-blue);
}
.input-wrapper input {
  padding: 0.7rem 1rem;
  border: none;
  outline: 1px solid var(--light-gray);
}
.input-wrapper input::placeholder {
  font-family: UbuntuBold, sans-serif;
  color: var(--cool-gray);
}

/* Plan Form Styles */
.plans {
  display: grid;
  gap: 1rem;
}
.plans label {
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.plans label input {
  appearance: none;
}

.plans label div {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}
.plans .plan-title {
  font-family: UbuntuBold, sans-serif;
  color: var(--marine-blue);
}
.plans .plan-pricing {
  color: var(--cool-gray);
  font-size: smaller;
}

/* footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--white);
}
.footer button {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: Ubuntu, sans-serif;
  cursor: pointer;
  padding: 0.6rem 1rem;
  border-radius: 3px;
  border: 0px;
  background-color: var(--marine-blue);
  color: var(--light-gray);
}
.footer button:nth-child(1) {
  background: none;
  color: var(--cool-gray);
}
.footer button.disabled {
  visibility: hidden;
}
